{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h1>о нас здесь</h1>
<body>

<img
  src="{% static 'images/swartc.jpg' %}"
  alt="" width="1100px" height="250px" />
<br><br>
<h3 style="text-align:center">«Счастье можно измерить... например, в тортах!».</h3>
<br>
<br>
<h5 style="text-align:center">Мы - начинающая компания кондитеров, которые желают своей выпечкой радовать Вас каждый день!
История нашей небольшой кондитерской начинается здесь, в нашем родном городе Ульяновске. В 2001 году Антонина Леонидовна - Главный пекарь и по совместительству владелец пекарни -
  решила открыть свой небольшой бизнес по продаже выпечки. Имея за плечами небольшой опыт управления рестораном, Антонина Леонидовна сразу же приняла решение о расширении.
  На сегодняшний день, мы имеем три магазина по всему городу, а теперь у нас появился сайт, на котором вы беспрепятсвенно сможете заказывать кондитерские изделия у нас!
</h5>
<br>


<img align="right"
  src="{% static 'images/praga.jpg' %}"
  alt="Искусство выпечки"  />

<br>
<h3>Искусство кондитерское</h3>
<h5>Наши кондитеры с большой ответсвенностью подходят к делу создания различных видов выпечки.
  Убедитесь в этом еще раз, перейдя на главную страницу <a href="{% url 'store' %}">нашего магазина.</a>

</h5>

</body>
{% endblock content %}