{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h1>O нас здесь</h1>
<body>

<img align="center"
  src="{% static 'images/short.gif' %}"
  alt="" width="1100px" height="350px" />
<br><br>
<h5 align="center">≪ ⋆°❈°⋆ ≫</h5>
<h3 style="text-align:center">«Счастье можно измерить... например, в тортах!».</h3>

<br>
<br>
<h5 style="text-align:center">Мы - начинающая компания кондитеров, которые желают своей выпечкой радовать Вас каждый день!
История нашей небольшой кондитерской начинается здесь, в нашем родном городе Ульяновске. В 2001 году Антонина Леонидовна - Главный пекарь и по совместительству владелец пекарни -
  решила открыть свой небольшой бизнес по продаже выпечки. Имея за плечами небольшой опыт управления рестораном, Антонина Леонидовна сразу же приняла решение о расширении.
  На сегодняшний день, мы имеем три магазина по всему городу, а теперь у нас появился сайт, на котором вы беспрепятсвенно сможете заказывать кондитерские изделия у нас!
</h5>

<br>
<h3>Всегда с радостью готовим для Вас!</h3>
<h5>Наши кондитеры с большой ответсвенностью подходят к делу создания различных видов выпечки.
  Убедитесь в этом еще раз, перейдя на главную страницу <a href="{% url 'store' %}">нашего магазина.</a>

</h5>
<br>
</body>
{% endblock content %}