{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h1 style="text-align:center">Магазин кондитерских изделий - Сладкий островок</h1>
<div align="center">
<img
  src="{% static 'images/cak.jpg' %}"
  alt="" width="1100px" height="550px" />
</div>
<br>
<div>
    <h5 style="text-align:center">Магазин кондитерских изделий - сладкий островок - предоставляет различну палитру вкусов. Вы можете насладиться как вкусными тортами и пирожными с разными начинками, так и попробовать наш домашний шоколад!</h5>
</div>
<br>
<div align="center">
 <a class="btn btn-outline-dark" href="{% url 'store' %}">Все товары</a>
    <a class="btn btn-outline-dark" href="{% url 'categories' %}">Категории</a>
    <a class="btn btn-outline-dark" href="{% url 'about' %}">О нас</a>
</div>
{% endblock content%}

